
.div{
    padding: 0;
    margin: 0;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    width: 100%;
    padding:0;
    margin: 0;
}
.header img {
    align-items: center;
}
.main{
    background-color: white;
    display: flex;
}

.main-baslik{
    color: black;
    display: flex;
    flex-direction: row;
}


form{
    background: white
}

.boyut-form p {
    color:black;
    font-size: 1.5rem;
   
}
.boyut-form{
    padding: 10px;
    display: flex;
    flex-direction:row;
    align-items:last baseline;
    width: 30%;


}
.hamur-form p{
    color: black;
    font-size: 1.5rem;;
}
.hamur-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.topping-form p{
    color: black;
    font-size: 1.5rem;
}
.topping-form{
    display: flex;
    flex-direction:column;
    align-items:flex-start ;
    color: black;
}
.not-form p{
    color:black;
    justify-content: center;
    padding: 0;
    margin: 0;
}


