.sayfa{
    background-color: #cf372c;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

.logo-container{
    margin-top:1rem;
    margin-bottom: 15rem;
}

.paragraf-container{  
display: flex;
flex-direction: column;
font-size: 4rem;
color: white;
justify-content: center;


}
p{
margin: 0;
display:flex;
flex-direction: column;
font-family: "roboto condensed";font-weight: lighter;
text-align: center;
}